    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">

          <div class="row">
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-superscript"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Predictions</h3>
                      <p>State-of-the-art predictions
                      for <a href="/docs/observables.html">hundreds of observables</a>,
                      both in the Standard Model and for arbitrary new physics effects (parametrized as Wilson
                      coefficients of <a href="/docs/operators.html">dimension-6 operators</a>)</p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-bullseye"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Fits</h3>
                      <p>Fit parameters or Wilson coefficients to a host of experimental data included in the package,
                        or supplied by you
                      </p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-area-chart"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Plots</h3>
                      <p>Visualize predictions or fit results in publication quality using
                      flavio's predefined plot functions built on the power of matplotlib</p>
                  </div><!--//content-->
              </div><!--//item-->

          </div><!--//row-->
          <div class="row">
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-download"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Easy to install</h3>
                      <p>Thanks to Python, no compilation is necessary, even when you make changes to the code</p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-cogs"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Easy to customize</h3>
                      <p>By modifying simple text files, you can change input parameters or choose between different implementations, e.g. for hadronic form factors
                      </p>
                  </div><!--//content-->
              </div><!--//item-->
              <div class="item col-md-4 col-sm-6 col-xs-12">
                  <div class="icon-holder">
                      <i class="fa fa-terminal"></i>
                  </div>
                  <div class="content">
                      <h3 class="sub-title">Interactive</h3>
                      <p>Using <a href="http://jupyter.org/">Jupyter</a>, you can access (or modify!) all the features of flavio
                        in an interactive session (similar to Mathematica)</p>
                  </div><!--//content-->
              </div><!--//item-->

          </div><!--//row-->
      </div><!--//container-->
    </section><!--//about-->
