    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
          <p class="intro text-center">flavio is a Python 3 package to compute predictions
          for <a href="/docs/observables.html">hundreds of observables</a> in flavour physics,
          both in the Standard Model and for arbitrary new physics effects (parametrized as Wilson
          coefficients of <a href="/docs/operators.html">dimension-6 operators</a>).
          Additional features are in development.</p>

            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-download"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to install</h3>
                        <p>Thanks to Python, no compilation is necessary, even when you make changes to the code.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to customize</h3>
                        <p>By modifying simple text files, you can change input parameters or choose between different implementations, e.g. for hadronic form factors.
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Interactive</h3>
                        <p>Using iPython, you can evaluate observables in an interactive session (similar to Mathematica).</p>
                    </div><!--//content-->
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
