    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <div class="author-message">
                        <div class="profile">
                          <img class="img-responsive" src="http://www.gravatar.com/avatar/65ba426ee13f0d09fe49e94aba74abcb?s=200" alt="" />
                        </div><!--//profile-->
                        <div class="speech-bubble">
                            <p>Main developer: <a href="http://www.davidstraub.de">David Straub</a></p>
                            <p>Please file bug reports and make feature requests <a href="#">over at Github</a></p>
                        </div><!--//speech-bubble-->
                      </div><!--//author-message-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
