    <!-- ******SUPPORT & CONTRIBUTING****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Support &amp; Contributing</h2>
                <div class="author-message">
                        <div class="speech-bubble">
                            <p>Please submit bugs and feature requests using <a href="https://github.com/flav-io/flavio/issues">GitHub Issues</a>.</p>
                            <p>For questions and discussions, use <a href="https://github.com/flav-io/flavio/discussions">GitHub Discussions</a>.</p>
                            <p>Maintainer: <a href="https://github.com/peterstangl">Peter Stangl</a>. Original author: <a href="https://github.com/DavidMStraub">David M. Straub</a>.</p>
                        </div><!--//speech-bubble-->
                      </div><!--//author-message-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
