    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Featured processes</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i>$B^0$, $B_s$, $K^0$, and $D^0$ mixing</li>
                <li><i class="fa fa-check"></i>$B\to K^{(*)}\mu^+\mu^-$ and other exclusive rare $B$ decays</li>
                <li><i class="fa fa-check"></i>Inclusive decays $B\to X_{s,d}\gamma$ and $B\to X_{s,d}l^+l^-$</li>
                <li><i class="fa fa-check"></i>Lepton flavour violating $B$ decays</li>
                <li><i class="fa fa-check"></i>$B\to D^{(*)}\tau\nu$ and other tree-level $B$ decays</li>
                <li><i class="fa fa-check"></i>$K\to \ell\nu$, $K\to \pi\ell\nu$, and $K\to \pi\nu\bar\nu$ decays</li>
                <li><i class="fa fa-check"></i>Lepton flavour violating $\tau$ and $\mu$ decays</li>
                <li><i class="fa fa-check"></i>Neutron EDM</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
