    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">
              <div style="height:1.2em;display:inline-block;width:1.2em;background-color:#fff;border-radius:0.75em;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);"><img src="/images/flavio.svg" style="width:0.8em;opacity:0.8;"/></div>
              <span style="text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);">flav<span class="highlight">io</span></span></h2>
            <p class="intro">A Python package for flavour physics phenomenology in the Standard Model and beyond</p>
            <div class="btns">
                <a class="btn btn-cta-primary" href="/docs/installation.html">Install</a>
                <a class="btn btn-cta-secondary" href="https://github.com/DavidMStraub/flavio-tutorial">Tutorial</a>
                <a class="btn btn-cta-primary" href="https://github.com/flav-io/flavio-examples">Examples</a>
            </div>
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
              <ul class="meta list-inline">
                  <li><a href="https://github.com/flav-io/flavio" target="_blank">View on GitHub</a></li>
              </ul><!--//meta-->
            </div>
        </div>
    </section><!--//promo-->
