    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">flav<span class="highlight">io</span><sup><span style="font-size:0.4em;font-weight:100;font-family:Lato;">BETA</span></sup></h2>
            <p class="intro">A Python package for flavour physics phenomenology in the Standard Model and beyond</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/docs/">Docs</a>
                <a class="btn btn-cta-primary" href="https://github.com/flav-io/flavio/releases" target="_blank">Download</a>
            </div>
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
              <ul class="meta list-inline">
                  <li><a href="https://github.com/flav-io/flavio" target="_blank">View on GitHub</a></li>
              </ul><!--//meta-->
            </div>
        </div>
    </section><!--//promo-->
