    <!-- ******CONTACT****** -->
    <section id="related" class="license section has-pattern">
        <div class="container">
            <h2 class="title  text-center">Related packages</h2>
            <div class="row">
                    <div class="item col-md-6 col-sm-12">
                        <div class="content">
                            <h3 class="sub-title">wilson</h3>
                            <p>A package for the running and matching of Wilson coefficients above and below the electroweak scale.</p>
                            <p>Forms the basis of flavio's handling of dimension-6 Wilson coefficients beyond the Standard Model.</p>
                            <p><a href="https://wilson-eft.github.io/">wilson-eft.github.io</a></p>
                        </div><!--//content-->
                    </div><!--//item-->
                    <div class="item col-md-6 col-sm-12">
                        <div class="content">
                            <h3 class="sub-title">smelli</h3>
                            <p>A package providing a global likelihood function in the space of dimension-six Wilson coefficients in the Standard Model Effective Field Theory (SMEFT).</p>
                            <p>High-level wrapper around flavio providing a curated, self-consistent, and user-friendly global likelihood and convenience methods.</p>
                            <p><a href="https://smelli.github.io/">smelli.github.io</a></p>
                        </div><!--//content-->
                    </div><!--//item-->
                </div><!--//row-->
        </div><!--//container-->
    </section><!--//related-->
